wandb/
data/
data.zip
xtreme/
loginfo/

models--bigscience--bloom-1b7-intermediate/
models--bigscience--bloom-1b7/

**/current_model.pkl

debug*.ipynb
util_command.ipynb
playground.ipynb
heatmap_plot.ipynb
*_pvals.pkl
loginfo/path_allocate.ipynb

lr_1e-3/
lr_5e-3/
lr_5e-4/

.DS_Store

# Byte-compiled / optimized / DLL files
**/__pycache__/
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
